In [1]:
import pandas as pd
import numpy as np

from datetime import datetime

In [2]:
df = pd.read_csv('data/training.csv')
df.shape

(95662, 16)

In [3]:
df.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy,FraudResult
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,airtime,ChannelId_3,1000.0,1000,2018-11-15T02:18:49Z,2,0
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-20.0,20,2018-11-15T02:19:08Z,2,0
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,airtime,ChannelId_3,500.0,500,2018-11-15T02:44:21Z,2,0
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,UGX,256,ProviderId_1,ProductId_21,utility_bill,ChannelId_3,20000.0,21800,2018-11-15T03:32:55Z,2,0
4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-644.0,644,2018-11-15T03:34:21Z,2,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95662 entries, 0 to 95661
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   TransactionId         95662 non-null  object
 1   BatchId               95662 non-null  object
 2   AccountId             95662 non-null  object
 3   SubscriptionId        95662 non-null  object
 4   CustomerId            95662 non-null  object
 5   CurrencyCode          95662 non-null  object
 6   CountryCode           95662 non-null  int64
 7   ProviderId            95662 non-null  object
 8   ProductId             95662 non-null  object
 9   ProductCategory       95662 non-null  object
 10  ChannelId             95662 non-null  object
 11  Amount                95662 non-null  float64
 12  Value                 95662 non-null  int64
 13  TransactionStartTime  95662 non-null  object
 14  PricingStrategy       95662 non-null  int64
 15  FraudResult           95662 non-null  int64
dtypes: float64(1), int64(4), object(11)
memory usage: 11.7+ MB

In [5]:
df.nunique()

TransactionId           95662
BatchId                 94809
AccountId                3633
SubscriptionId           3627
CustomerId               3742
CurrencyCode                1
CountryCode                 1
ProviderId                  6
ProductId                  23
ProductCategory             9
ChannelId                   4
Amount                   1676
Value                    1517
TransactionStartTime    94556
PricingStrategy             4
FraudResult                 2
dtype: int64

## --> The following columns have just 1 distinct value and are therefore redundant:
## - CurrencyCode
## - CountryCode

## Column "Value" is redundant as the same information (more distinct) is included in column "amount"

## Checking logical relationship between BatchId and TransactionId: 
## --> One-to-many relatinship confirmed! BatchId column is just an aggregation and therefore redundant!

In [6]:
# number of unique BatchId-values by TransactionId
b_t = df.groupby('TransactionId').BatchId.nunique()
b_t.sort_values(ascending = False)

TransactionId
TransactionId_1        1
TransactionId_57870    1
TransactionId_57885    1
TransactionId_57883    1
TransactionId_57881    1
                      ..
TransactionId_1557     1
TransactionId_15568    1
TransactionId_15567    1
TransactionId_15566    1
TransactionId_99999    1
Name: BatchId, Length: 95662, dtype: int64

## Checking logical relationship between AccountId, SubscriptionId and CustomerId: 
## --> No consistent one-to-many relatinship detected!

In [7]:
# number of unique SubscriptionId-values by AccountId
a_s = df.groupby('AccountId').SubscriptionId.nunique()
a_s.sort_values(ascending = False)

AccountId
AccountId_4841    2
AccountId_1       1
AccountId_3871    1
AccountId_3873    1
AccountId_3875    1
                 ..
AccountId_2472    1
AccountId_2473    1
AccountId_2474    1
AccountId_2476    1
AccountId_998     1
Name: SubscriptionId, Length: 3633, dtype: int64

In [8]:
# number of unique AccountId-values by SubscriptionId
s_a = df.groupby('SubscriptionId').AccountId.nunique()
s_a.sort_values(ascending = False)

SubscriptionId
SubscriptionId_4674    3
SubscriptionId_3829    2
SubscriptionId_375     2
SubscriptionId_3495    2
SubscriptionId_3489    2
                      ..
SubscriptionId_2484    1
SubscriptionId_2485    1
SubscriptionId_2487    1
SubscriptionId_2488    1
SubscriptionId_999     1
Name: AccountId, Length: 3627, dtype: int64

In [9]:
# number of unique CustomerId-values by SubscriptionId
s_c = df.groupby('SubscriptionId').CustomerId.nunique()
s_c.sort_values(ascending = False)

SubscriptionId
SubscriptionId_3829    2623
SubscriptionId_4346     182
SubscriptionId_4429      56
SubscriptionId_4836      31
SubscriptionId_3350      14
                       ...
SubscriptionId_2485       1
SubscriptionId_2487       1
SubscriptionId_2488       1
SubscriptionId_2489       1
SubscriptionId_999        1
Name: CustomerId, Length: 3627, dtype: int64

In [10]:
# number of unique SubscriptionId-values by CustomerId
c_s = df.groupby('CustomerId').SubscriptionId.nunique()
c_s.sort_values(ascending = False)

CustomerId
CustomerId_3716    3
CustomerId_1335    3
CustomerId_4113    3
CustomerId_462     3
CustomerId_4622    3
                  ..
CustomerId_4369    1
CustomerId_4367    1
CustomerId_2141    1
CustomerId_2143    1
CustomerId_1       1
Name: SubscriptionId, Length: 3742, dtype: int64

In [11]:
# number of unique CustomerId-values by AccountId
a_c = df.groupby('AccountId').CustomerId.nunique()
a_c.sort_values(ascending = False)

AccountId
AccountId_4841    2577
AccountId_4840    1723
AccountId_10       182
AccountId_4249      56
AccountId_1074      20
                  ...
AccountId_2474       1
AccountId_2476       1
AccountId_2477       1
AccountId_2478       1
AccountId_998        1
Name: CustomerId, Length: 3633, dtype: int64

In [12]:
# number of unique AccountId-values by CustomerId
c_a = df.groupby('CustomerId').AccountId.nunique()
c_a.sort_values(ascending = False)

CustomerId
CustomerId_606     5
CustomerId_4336    4
CustomerId_1438    4
CustomerId_3716    4
CustomerId_3391    4
                  ..
CustomerId_4683    1
CustomerId_2636    1
CustomerId_4678    1
CustomerId_4677    1
CustomerId_1       1
Name: AccountId, Length: 3742, dtype: int64

## Checking logical relationship between ProductCategory and ProductId: 
## --> One-to-many relatinship confirmed! ProductCategory column is just an aggregation and therefore redundant!

In [13]:
# list ProductId-values by ProductCategory (incl. count of Transactions)
df.groupby(['ProductCategory', 'ProductId']).count()['TransactionId']

ProductCategory     ProductId
airtime             ProductId_1      2885
                    ProductId_10    15384
                    ProductId_16       10
                    ProductId_23        1
                    ProductId_3     24344
                    ProductId_4      2403
data_bundles        ProductId_11     1377
                    ProductId_2       236
financial_services  ProductId_14      789
                    ProductId_15    11964
                    ProductId_6     32635
                    ProductId_9        17
movies              ProductId_24      175
other               ProductId_12        2
ticket              ProductId_20      216
transport           ProductId_5        25
tv                  ProductId_19      965
                    ProductId_27       31
                    ProductId_7        86
                    ProductId_8       197
utility_bill        ProductId_13      296
                    ProductId_21     1512
                    ProductId_22      112
Name: TransactionId, dtype: int64

In [14]:
# number of unique ProductCategory-values by ProductId
p_pc = df.groupby('ProductId').ProductCategory.nunique()
p_pc.sort_values(ascending = False)

ProductId
ProductId_1     1
ProductId_22    1
ProductId_8     1
ProductId_7     1
ProductId_6     1
ProductId_5     1
ProductId_4     1
ProductId_3     1
ProductId_27    1
ProductId_24    1
ProductId_23    1
ProductId_21    1
ProductId_10    1
ProductId_20    1
ProductId_2     1
ProductId_19    1
ProductId_16    1
ProductId_15    1
ProductId_14    1
ProductId_13    1
ProductId_12    1
ProductId_11    1
ProductId_9     1
Name: ProductCategory, dtype: int64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95662 entries, 0 to 95661
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   TransactionId         95662 non-null  object
 1   BatchId               95662 non-null  object
 2   AccountId             95662 non-null  object
 3   SubscriptionId        95662 non-null  object
 4   CustomerId            95662 non-null  object
 5   CurrencyCode          95662 non-null  object
 6   CountryCode           95662 non-null  int64
 7   ProviderId            95662 non-null  object
 8   ProductId             95662 non-null  object
 9   ProductCategory       95662 non-null  object
 10  ChannelId             95662 non-null  object
 11  Amount                95662 non-null  float64
 12  Value                 95662 non-null  int64
 13  TransactionStartTime  95662 non-null  object
 14  PricingStrategy       95662 non-null  int64
 15  FraudResult           95662 non-null  int64
dtypes: float64(1), int64(4), object(11)
memory usage: 11.7+ MB

## --> Removing redundant columns

In [16]:
# Remove these columns:
drop_lst = ['BatchId', 'CurrencyCode', 'CountryCode', 'ProductCategory', 'Amount']
# we would like to consider all variables except the ones mentioned above
remaining_features = [x for x in df.columns if x not in drop_lst]
df2 = df[remaining_features]
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95662 entries, 0 to 95661
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   TransactionId         95662 non-null  object
 1   AccountId             95662 non-null  object
 2   SubscriptionId        95662 non-null  object
 3   CustomerId            95662 non-null  object
 4   ProviderId            95662 non-null  object
 5   ProductId             95662 non-null  object
 6   ChannelId             95662 non-null  object
 7   Value                 95662 non-null  int64
 8   TransactionStartTime  95662 non-null  object
 9   PricingStrategy       95662 non-null  int64
 10  FraudResult           95662 non-null  int64
dtypes: int64(3), object(8)
memory usage: 8.0+ MB

## Feature Engineering

In [17]:
# Datatype TransactionStartTime
df2['TransactionStartTime'] = df2['TransactionStartTime'].str.replace('T', ' ')
df2['TransactionStartTime'] = df2['TransactionStartTime'].str.replace('Z', '')
df2['TransactionStartTime'] = pd.to_datetime(df2['TransactionStartTime'])

<ipython-input-17-d54e636aded6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['TransactionStartTime'] = df2['TransactionStartTime'].str.replace('T', ' ')
<ipython-input-17-d54e636aded6>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['TransactionStartTime'] = df2['TransactionStartTime'].str.replace('Z', '')
<ipython-input-17-d54e636aded6>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['TransactionStartTime'] = pd.to_datetime(df2['TransactionStartTime'])

In [18]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95662 entries, 0 to 95661
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   TransactionId         95662 non-null  object
 1   AccountId             95662 non-null  object
 2   SubscriptionId        95662 non-null  object
 3   CustomerId            95662 non-null  object
 4   ProviderId            95662 non-null  object
 5   ProductId             95662 non-null  object
 6   ChannelId             95662 non-null  object
 7   Value                 95662 non-null  int64
 8   TransactionStartTime  95662 non-null  datetime64[ns]
 9   PricingStrategy       95662 non-null  int64
 10  FraudResult           95662 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(7)
memory usage: 8.0+ MB

In [19]:
# introducing columns for year, month, day, hour, minute, seconds, week and weekday
df2['Year'] = df2['TransactionStartTime'].dt.year
df2['Month'] = df2['TransactionStartTime'].dt.month
df2['Day'] = df2['TransactionStartTime'].dt.day
df2['Hour'] = df2['TransactionStartTime'].dt.hour
df2['Minute'] = df2['TransactionStartTime'].dt.minute
df2['Seconds'] = df2['TransactionStartTime'].dt.second
df2['week'] = df2['TransactionStartTime'].dt.week
df2['weekday'] = df2['TransactionStartTime'].dt.weekday

<ipython-input-19-f06ace958de2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Year'] = df2['TransactionStartTime'].dt.year
<ipython-input-19-f06ace958de2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Month'] = df2['TransactionStartTime'].dt.month
<ipython-input-19-f06ace958de2>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Day'] = df2['TransactionStartTime'].dt.day
<ipython-input-19-f06ace958de2>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Hour'] = df2['TransactionStartTime'].dt.hour
<ipython-input-19-f06ace958de2>:8: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df2['week'] = df2['TransactionStartTime'].dt.week

In [20]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95662 entries, 0 to 95661
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   TransactionId         95662 non-null  object
 1   AccountId             95662 non-null  object
 2   SubscriptionId        95662 non-null  object
 3   CustomerId            95662 non-null  object
 4   ProviderId            95662 non-null  object
 5   ProductId             95662 non-null  object
 6   ChannelId             95662 non-null  object
 7   Value                 95662 non-null  int64
 8   TransactionStartTime  95662 non-null  datetime64[ns]
 9   PricingStrategy       95662 non-null  int64
 10  FraudResult           95662 non-null  int64
 11  Year                  95662 non-null  int64
 12  Month                 95662 non-null  int64
 13  Day                   95662 non-null  int64
 14  Hour                  95662 non-null  int64
 15  Minute                95662 non-null  int64
 16  Seconds               95662 non-null  int64
 17  week                  95662 non-null  int64
 18  weekday               95662 non-null  int64
dtypes: datetime64[ns](1), int64(11), object(7)
memory usage: 13.9+ MB

In [21]:
df2.weekday.unique()

array([3, 4, 5, 6, 0, 1, 2])