In [ ]:
import os

# set up working directory di PC masing-masing

os.chdir("C:\\Users\\Maria Ulfah\\Downloads\\dtsense_codes") # hanya contoh

In [ ]:
# check up working directory

os.getcwd()

'C:\\Users\\Maria Ulfah\\Downloads\\dtsense_codes'

# Project List

In [ ]:
# The GDP of the Top 10 Economies in the World (in trillion USD)

USA = 21.44 # Amerika Serikat
CHN = 14.14 # Cina
JPN = 5.15 # Jepang
DE = 3.86 # Jerman
IND = 2.94 # India
GBR = 2.83 # Britania Raya
FRA = 2.71 # Perancis
ITA = 1.99 # Italia
BRA = 1.85 # Brazil
CAN = 1.73 # Kanada

In [ ]:
# Buatlah list dengan nama GDP_country_list menggunakan data di atas


#kemudian print

print()

In [ ]:
# dari list GDP_country_list, jumlahkan GDP USA dan CHN

great_power = 

#kemudian print


print()

In [ ]:
# Berikan label ke masing-masing data negara tersebut 
# menggunakan nama negara dalam Bahasa Indonesia
# contohnya "Amerika Serikat", USA

GDP_country = [[],]

#kemudian print


print()

In [ ]:
# dari GDP_country Subset data dan nama negara dari USA, CHN, dan JPN
USA_CHN_JPN = 

#kemudian print


print()

In [ ]:
# Tambahan catatan:

# a[-1]    # last item in the array
# a[-2:]   # last two items in the array
# a[:-2]   # everything except the last two items
# Similarly, step may be a negative number:

#a[::-1]    # all items in the array, reversed
#a[1::-1]   # the first two items, reversed
#a[:-3:-1]  # the last two items, reversed
#a[-3::-1]  # everything except the last two items, reversed

In [ ]:
# dari GDP_country Subset 5 negara dengan GDP terendah dari bawah
five_least_GDP = 

#kemudian print


print()

In [ ]:
# dari list GDP_country_list, hitung selisih GDP USA dan DE
USA_vs_DE = 


#kemudian print

print()

In [ ]:
# dari list five_least_GDP, remove Brazil dan GDP-nya



#kemudian print

print()

In [ ]:
# dari list five_least_GDP, ganti Kanada menjadi Canada, dan 1.73 menjadi 1.75


#kemudian print

print()

In [ ]:
# tambahkan South Korea ke five_least_GDP, dengan nama list baru 
# South Korea, GDP 1.74 Tn USD

five_least_GDP_new =


#kemudian print

print()